

*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(68.15deg, #00060E 10.000000149011612%, 22.66666628420353%, #021C41 35.33333241939545%, 46.08333259820938%, #060273 56.833332777023315%, 78.41666638851166%, #021526 100%, 100%, #F3C288 100%);
}

a{
    color: #f0f8ff;
    text-decoration: none;
    transition: 0.3;
}

a:hover{
    opacity: 0.7;
}

.logo{
    letter-spacing: 4px;
}

.logo > img{
    width: 160px;
    margin-top: 6px;
    color: #A69586;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica', sans-serif;
    background: #F2C288;
    height: 8vh;
}

main{
    display: flex;
    align-items: center;
    background: url(bg2.jpg) no-repeat center center;
    background-size: cover;
    height: 92vh;
}

#logo2{
    justify-content: flex-start;
    width: 500px;
    height: auto;
    position: relative;
    bottom: 200px;
    left: -6px;
    align-items: center;
}



.direita h1{

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 32px;
    color: #406282;
    font-size: 30px;
    text-align: center;
    
}

.rodape{
    background-color: #F3C288;
    height: 50px;
    padding: 3px;
    border-top: 0.4px solid #F3C288
}

.nav-bar {
    position: relative;
    right: -25px;
}

.nav-lista{
    list-style: none;
    display: flex;
}

.nav-lista li{
    cursor: pointer;
    letter-spacing: 3px;
    margin-left: 32px;
    color: #406282;
}

.nav-lista li:hover{
    color: #060273;
}

.nav-bar{
    display: none;
    cursor: pointer;
}

.nav-bar div{
    width: 33px;
    height: 2px;
    background: #406282;
    margin: 8px;
    transition: 0.3s;
    margin-right: 5px;
}



@media (max-width: 600px){
    body{
        overflow-x: hidden;
    }
    main{
        width: auto;
        height: 708px;
    }
    .esquerda{
        position: absolute;
        top: 84px;
        display: flex;
        justify-content: flex-start;
        width: 300px;
        height: 30px;
        margin: -10px 20px;
        padding: 10px 10px;
        align-items: flex-start;
    }
    /*.direita{
        position: absolute;
        bottom: 8px;
        display: flex;
        justify-content: flex-start;
        width: 300px;
        height: 300px;
        margin: -10px 20px;
        padding: 10px 10px;
        align-items: flex-start;
    }*/
     #logo2{
        position: absolute;
        top: 84px;
        justify-content: flex-start;
        width: 300px;
        height: auto;
        margin: -10px 10px -13px;
        padding: 10px 10px 17px;
        align-items: flex-start;
     }
    .nav-lista{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 40vw;
        height: 40vh;
        background: #F2C288;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-lista li{
        margin-left: 0;
        opacity: 0;
    }
    .nav-bar{
        position: relative;
        left: 0px;
        display: block;
    }
    .logo img{
        width: 126px;
        height: auto;        
    }
    .esquerda{
        position: relative;
        background-position-y: 1;
        top: -100px;
        display: block;
        flex-wrap: column wrap;
        flex-direction: row;
        justify-content: center;
    }

}

.nav-lista.active{ 
    z-index: 3;
    transform: translateX(0);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.nav-bar.active .linha1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.nav-bar.active .linha2{
    opacity: 0;
}

.nav-bar.active .linha3{
    transform: rotate(45deg) translate(-5px, -7px);
}

@media (max-width: 999px){
    body{
        overflow-x: hidden;
    }
    main{
        width: auto;
        height: 708px;
    }
    .esquerda{
        position: absolute;
        top: 84px;
        display: flex;
        justify-content: flex-start;
        width: 300px;
        height: 30px;
        margin: -10px 20px;
        padding: 10px 10px;
        align-items: flex-start;
    }
    /*.direita{
        position: absolute;
        bottom: 200px;
        display: flex;
        justify-content: flex-start;
        width: 400px;
        height: 600px;
        margin: -10px 20px;
        padding: 10px 10px;
        align-items: flex-start;
    }*/
     #logo2{
        position: absolute;
        top: 84px;
        justify-content: flex-start;
        width: 300px;
        height: auto;
        margin: -10px 10px -13px;
        padding: 10px 10px 17px;
        align-items: flex-start;
     }
    .nav-lista{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 40vw;
        height: 40vh;
        background: #F2C288;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-lista li{
        margin-left: 0;
        opacity: 0;
    }
    .nav-bar{
        display: block;
    }
    .logo img{
        width: 126px;
        height: auto;        
    }
    .esquerda{
        display: none;
        position: relative;
        background-position-y: 1;
        top: -100px;
        display: block;
        flex-wrap: column wrap;
        flex-direction: row;
        justify-content: center;
    }

}