*{
    margin: 0;
	padding: 0;
    box-sizing: border-box;
}

#game{
    width: 100%;
    height: 500px;
    border-bottom: 15px solid #12bb12;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#5ea4e0, #dae4eb);
}

.nuvens{
    position: absolute;
    width: 550px;
    animation: nuvens 20s infinite linear;
}

@keyframes nuvens{
    from{
        right: -550px;
    }

    to{
        right: 100%;
    }
}
/*pipe config============================================================================*/
.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    right: -80px;
    animation: pipe 1s infinite linear;
}

@keyframes pipe{
    from{
        right: -80px;
    }

    to{
        right: 100%;
    }
}
/*=======================================================================================*/
/*mario config===========================================================================*/
.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}

.pulo{
    animation: mario 500ms ease-out;
}

@keyframes mario{
    0%{bottom: 0;}
    40%{bottom: 180px;}
    50%{bottom: 180px;}
    60%{bottom: 180px;}
    100%{bottom: 0;}
}
/*=======================================================================================*/
